 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a designer and business economist by training, a project manager and managing director by trade, and a creator and maker by heart.</p>
                </div>
                <div class="col-lg-4">
                    <p>I help with ideation, concept development, project management, and process optimization. You can hire me on a freelance basis. Get in touch!</p>
                </div>
            </div>
        </div>
    </section>
