
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
                <div class="col-sm-4 text-center brands">
                    <p>I have also worked with Balenciaga, Zac Posen, Hermès, Lanserhof, Porsche Consulting, Gmund, Lakepaper, Berenberg Bank and betahaus Hamburg, among others.</p>
                </div>
            </div>
        </div>
    </section>
